<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enterprise.mapper.petFood.PetFoodPlateMapper">
    <resultMap id="BaseResultMap" type="com.enterprise.base.entity.PetFoodPlateEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="food_count" jdbcType="INTEGER" property="foodCount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="baseColumnList">
		id,company_id,user_id,food_count,create_time,update_time
	</sql>

    <insert id="createPetFoodPlate" parameterType="com.enterprise.base.entity.PetFoodPlateEntity"
            useGeneratedKeys="true" keyProperty="id">
		INSERT INTO pet_food_plate (company_id,user_id,food_count,create_time,update_time)
		VALUES (#{companyId},#{userId},#{foodCount},now(),now())
		ON DUPLICATE KEY UPDATE company_id = #{companyId}, user_id=#{userId}, food_count=#{foodCount},update_time = now()
	</insert>

    <update id="updatePetFoodPlate" parameterType="com.enterprise.base.entity.PetFoodPlateEntity">
        update pet_food_plate
        <set>
            <if test="foodCount >=0 ">
                food_count = #{foodCount},
            </if>
            <if test="updateTime != null">
                update_time = now(),
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="getPeteFoodPlateByUser" resultMap="BaseResultMap">
        SELECT * FROM pet_food_plate WHERE company_id = #{companyId} AND user_id = #{userId}
    </select>

    <select id="getAllRetainFoodList" resultMap="BaseResultMap">
        SELECT * FROM pet_food_plate WHERE food_count >0 ORDER BY id ASC
    </select>



</mapper>
