<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enterprise.mapper.oamsg.OaMsgMapper">
	<resultMap id="BaseResultMap" type="com.enterprise.base.entity.OaMsgEntity">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="err_code" jdbcType="INTEGER" property="errCode" />
		<result column="err_msg" jdbcType="VARCHAR" property="errMsg" />
		<result column="invalid_user" jdbcType="VARCHAR" property="invalidUser" />
		<result column="invalid_party" jdbcType="VARCHAR" property="invalidParty" />
		<result column="message_id" jdbcType="VARCHAR" property="messageId" />
		<result column="company_id" jdbcType="INTEGER" property="companyId" />
		<result column="arena_id" jdbcType="INTEGER" property="arenaId" />
		<result column="library_id" jdbcType="INTEGER" property="libraryId" />
		<result column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="code_flag" jdbcType="VARCHAR" property="codeFlag" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
	</resultMap>

	<sql id="baseColumnList" >
		id,err_code,err_msg,invalid_user,invalid_party,message_Id,company_id,arena_id,library_id,user_id,code_flag,content,create_time
	</sql>

	<insert id="createOaMsg" parameterType="com.enterprise.base.entity.OaMsgEntity">
		INSERT INTO oa_msg(err_code,err_msg,invalid_user,invalid_party,message_id,company_id,arena_id,library_id,user_id,code_flag,content,create_time)
		VALUES (#{errCode},#{errMsg},#{invalidUser},#{invalidParty},#{messageId},#{companyId},#{arenaId},#{libraryId},#{userId},#{codeFlag},#{content}, now())
	</insert>

</mapper>
