<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:redis="http://www.springframework.org/schema/redis" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/redis
        http://www.springframework.org/schema/redis/spring-redis-1.0.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd">

    <!-- 把标记了@Controller注解的类转换为bean -->
    <!--<context:component-scan base-package="com.enterprise.*"/>-->
    <context:component-scan base-package="com.enterprise.mobile.web.controller"/>
    <context:component-scan base-package="com.enterprise.mobile.web.interceptor"/>

    <mvc:interceptors>
        <!--权限控制拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/resources/**"/>
            <bean class="com.enterprise.mobile.web.interceptor.EnterpriseMobileInterceptor"></bean>
        </mvc:interceptor>

        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**"/>-->
            <!--<mvc:exclude-mapping path="/resources/**"/>-->
            <!--<bean class="com.enterprise.mobile.web.interceptor.TokenInterceptor"></bean>-->
        <!--</mvc:interceptor>-->

        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**"/>-->
            <!--<mvc:exclude-mapping path="/resources/**"/>-->
            <!--<bean class="com.enterprise.mobile.web.interceptor.SignInterceptor"></bean>-->
        <!--</mvc:interceptor>-->
    </mvc:interceptors>


    <!-- 配置注解的处理器映射器和处理器适配器 -->
    <!-- <mvc:annotation-driven /> 是一种简写形式，完全可以手动配置替代这种简写形式，简写形式可以让初学者
        快速应用默认配置方案。<mvc:annotation-driven /> 会自动注册DefaultAnnotationHandlerMapping与
        AnnotationMethodHandlerAdapter 两个bean,是spring MVC为@Controllers分发请求所必须的。 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="false">
            <!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
            <bean id="fastJsonHttpMessageConverter"
                  class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <!-- 这里顺序不能反，一定先写text/html,不然ie下出现下载提示 -->
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <task:annotation-driven/>

    <!--定时器开关
    <bean id="bagToolResusElimateJob" class="com.enterprise.mobile.web.job.BagToolElimateJob"/>
    <bean id="consumeFoodJob" class="com.enterprise.mobile.web.job.PetFoodConsumeJob"/>
    <bean id="genPaperJob" class="com.enterprise.mobile.web.job.PaperBallJob"/>
    <bean id="communityJob" class="com.enterprise.mobile.web.job.CommunityJob"/>


    <task:scheduled-tasks>
        <task:scheduled ref="consumeFoodJob" method="work" cron="0 */2 * * * ?"/>
        <task:scheduled ref="genPaperJob" method="generate" cron="0 */5 9-21 * * ?"/>
        <task:scheduled ref="genPaperJob" method="vanish" cron="0 */10 9-21 * * ?"/>
        <task:scheduled ref="communityJob" method="informCommunity" cron="0 0 9 * * ?"/>
    </task:scheduled-tasks>
 -->

    <!--程序启动5s后调用refreshProductJob类中的refreshProduct方法，然后每隔1.5（1.5*60*60*1000）个小时再调用refreshProduct一次-->
        <!--程序启动5s后调用SuitesJob类中的work方法，然后每隔15（15*60*1000）分钟再调用work一次-->


    <!-- 第二步： 创建convertion-Service ，并注入dateConvert-->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="dateConvert"/>
                <ref bean="bigDecimalConvert"/>
                <ref bean="integerConvert"/>
            </set>
        </property>
    </bean>
    <!-- 第一步:  创建自定义日期转换规则 -->
    <bean id="dateConvert" class="com.enterprise.base.convert.DateConvert"/>
    <bean id="bigDecimalConvert" class="com.enterprise.base.convert.BigDecimalConvert"/>
    <bean id="integerConvert" class="com.enterprise.base.convert.IntegerConvert"/>

</beans>