<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enterprise.mapper.companyXLibrary.CompanyXLibraryMapper">
	<resultMap id="BaseResultMap" type="com.enterprise.base.entity.CompanyXLibraryEntity">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="company_id" jdbcType="INTEGER" property="companyId" />
		<result column="library_id" jdbcType="INTEGER" property="libraryId" />
		<result column="user_number" jdbcType="INTEGER" property="userNumber" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>

	<sql id="baseColumnList" >
		id,company_id,library_id,user_number,status,create_time,update_time
	</sql>

	<insert id="createCompanyLibrary" parameterType="com.enterprise.base.entity.CompanyXLibraryEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO company_x_library(company_id,library_id,user_number,status,create_time,update_time)
		VALUES (#{companyId}, #{libraryId}, 0, #{status}, now(), now())
	</insert>

	<update id="modifyCompanyLibrary" parameterType="com.enterprise.base.entity.CompanyXLibraryEntity">
		UPDATE company_x_library
		<set>
			<if test="userNumber!=null">
				user_number = #{userNumber},
			</if>
			<if test="status!=null">
				status = #{status},
			</if>
			<if test="updateTime != null">
				update_time = now(),
			</if>
		</set>
		where id = #{id}
	</update>


	<select id="findCompanyXLibrary" resultMap="BaseResultMap">
		SELECT * FROM company_x_library
		WHERE company_id = #{companyId}
		AND library_id = #{libraryId}
	</select>

	<insert id="batchInsert" parameterType="java.util.List" >
		insert into company_x_library (company_id,library_id,user_number,status,create_time,update_time)
		<foreach collection="companyXLibraryList" item="item" index="index" separator="union all">
			SELECT #{item.companyId},#{item.libraryId}, #{item.userNumber}, #{item.status}, now(),now() FROM DUAL
		</foreach>
	</insert>

	<update id="batchupdate" parameterType="java.util.List">
		update company_x_library
		set  status=
		<foreach collection="companyXLibraryList" item="item" index="index" separator=" " open="case ID" close="end">
			when #{item.id} then #{item.status}
		</foreach>
		where id in
		<foreach collection="companyXLibraryList" index="index" item="item"
				 separator="," open="(" close=")">
			#{item.id,jdbcType=BIGINT}
		</foreach>
	</update>



	<select id="getCompanysByLibraryId" resultType="java.lang.Integer">
		SELECT company_id FROM company_x_library
		WHERE  library_id = #{libraryId}
		<if test="status != null">
			AND status = #{status}
		</if>
	</select>


	<update id="batchSafeDelete" parameterType="java.util.List">
		update company_x_library
		set  status= #{status}
		where library_id = #{libraryId}
	</update>

	<select id="findCompanyLibraryCount" resultType="java.lang.Integer">
	SELECT COUNT(id) FROM company_x_library
	WHERE  library_id = #{libraryId} AND status = 1
	</select>

	<!--获取企业的官方题库-->
	<select id="getCompanyDefaultLibrary" resultType="java.lang.Integer">
		SELECT cx.library_id FROM company_x_library cx,questions_library ql WHERE cx.library_id = ql.id AND cx.status =1 AND ql.status =1
		AND cx.company_id = #{companyId}
	</select>

	<select id="getCompanyLibraryList" resultMap="BaseResultMap">
		SELECT cx.* FROM company_x_library cx , questions_library ql
		WHERE cx.library_id = ql.id AND  ql.status = 1 AND
		cx.company_id = #{companyId} AND cx.status = #{status}
	</select>

	<select id="getDefaultPublicLibrary" resultType="java.lang.Integer">
		SELECT a.library_id FROM (
  			SELECT cx.library_id  FROM company_x_library cx,questions_library ql WHERE
    		 cx.library_id = ql.id AND cx.company_id = 0 AND ql.status = 1 AND ql.default_flag = 1
 			UNION
  			SELECT cx.library_id  FROM company_x_library cx,questions_library ql WHERE
    		 cx.library_id = ql.id AND cx.company_id = #{companyId}
 			 AND ql.status = 1 AND ql.default_flag = 1
 		) AS a GROUP BY a.library_id
	</select>


</mapper>
