<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enterprise.mapper.bury.OAOpenBuryMapper">
	<resultMap id="BaseResultMap" type="com.enterprise.base.entity.bury.OAOpenBuryEntity">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="company_id" jdbcType="VARCHAR" property="companyId" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>

	<sql id="baseColumnList" >
		id,company_id,user_id,type,create_time
	</sql>

	<insert id="createOAOpenBury" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO oa_open_bury (company_id,user_id,type,create_time)
		VALUES (#{companyId},#{userId},#{type},#{createTime})
	</insert>

</mapper>
